.line-through {
  text-decoration: line-through;
}

main {
  background-color: #fff;
  color: #6416b0;
}

main a {
  color: #6416b0;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  padding: 13px 0px;
  padding-right: 26px;
  text-transform: lowercase;
}

.logo span {
  padding-bottom: 4px;
  display: inline-block;
}

.logo img {
  margin-right: 12px;
}

.logo span,
.logo img {
  vertical-align: middle;
}

nav {
  background-color: #fff;
  box-shadow: 0px 3px 0px 0px #4f1c870d, 0px 1px 1px 0px #4f1c870d;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  min-width: 800px;
}

nav::before {
  content: '';
  display: block;
  height: 2px;
  background-color: #fff;
  background-image: none;
  transition: background-color 200ms linear, background-image 200ms linear;
}

.home-page nav::before {
  background-color: #6416b0;
  background-image: linear-gradient(144deg, #6416b0, #dd0699);
}

nav .nav-gutter {
  display: flex;
  max-width: 1156px;
  padding: 0 14px;
  margin: 0 auto;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  flex: 1;
}

nav ul li a {
  padding: 25px 10px;
  padding-bottom: 26px;
  text-decoration: none;
  display: block;
  font-weight: normal;
  position: relative;
}

nav ul li.active a:after {
  content: '';
  display: block;
  position: absolute;
  height: 3px;
  background: #6416b0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.nav-spacer {
  flex: 1;
}

.nav-social .twitter-follow-button,
.nav-social .github-button {
  visibility: hidden;
}

.nav-social > * {
  vertical-align: middle;
}

.nav-social > * + * {
  margin-left: 10px;
}

header {
  background-image: linear-gradient(144deg, #6416b0, #dd0699);
  box-shadow: inset 0px 0px 24px #ff00b133, inset 6px 10px 60px #6416b052;
  padding-top: 169px;
  padding-bottom: 100px;
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}

header .tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .tagline div:first-child {
  font-weight: bold;
  opacity: 0.7;
  color: #fff;
  font-size: 25px;
}

header .tagline div:last-child {
  font-weight: bold;
  background: none;
  padding: 0 3px;
  padding-top: 5px;
  z-index: 0;
  position: relative;
  font-size: 46px;
  color: #6416b01f;
  margin-bottom: 40px;
}

header .tagline div:last-child::after {
  content: "Reactive Programming Language";
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(180deg, #fff 40%, #ffe9f6 60%);
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding: 0 3px;
  z-index: 1;
}

.install-button {
  text-decoration: none;
  color: #6416b0;
  margin: 0 auto;
  background-image: linear-gradient(180deg, #fff 40%, #fff3fa 60%);
  display: inline-block;
  font-size: 26px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 22px 40px;
  box-shadow: 0px 2px 0px 2px #6416b0;
  margin-bottom: 4px;
  position: relative;
  overflow: hidden;
}

footer {
  padding: 23px 0;
  text-align: center;
  font-size: 12px;
}

.button.primary {
  color: #fff;
  border-radius: 3px;
  padding: 10px 16px;
  box-shadow: 0px 3px 0px #f6edff;
  text-decoration: none;
  font-size: 16px;
  background-color: #9b14d2;
  background-image: linear-gradient(-8deg, #df00ff 0%, #8a16c6 67%, #a800ff 100%);
}

.button.medium {
  padding: 12px 20px;
  font-size: 20px;
}
