@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima_nova_regular-webfont.woff2') format('woff2'),
       url('/fonts/proxima_nova_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
       url('/fonts/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Regular.eot');
  src: url('/fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Proxima Nova Regular.woff') format('woff'),
       url('/fonts/Proxima Nova Regular.ttf') format('truetype'),
       url('/fonts/Proxima Nova Regular.svg#proxima_nova_regular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/Proxima Nova Bold.eot');
  src: url('/fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Proxima Nova Bold.woff') format('woff'),
       url('/fonts/Proxima Nova Bold.ttf') format('truetype'),
       url('/fonts/Proxima Nova Bold.svg#proxima_nova_bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
 */