html {
  background-color: #7915ac;
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  min-width: 800px;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  font-weight: bold;
}

@keyframes focus-outline-pulse {
  from {
    outline-width: 7px;
  }

  to {
    outline-width: 12px;
  }
}

:focus {
  outline: #a03fff auto 7px;
  outline-offset: -3px;
  animation-duration: 800ms;
  animation-name: focus-outline-pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
